h1{
    font-family: Montserrat;
}

body h1{
    color: yellow;
}
}
h2{
    font-family: Roboto;
}

body h2{
    color: red;
}
h3{
    font-family: Arial;
}

body h3{
    color: blue;
}
h4{
    font-family: Calibri;
}

body h4{
    color: aquamarine;
}
